<?xml version="1.0" encoding="UTF-8"?>
<!-- Tomcat logback configuration file -->
<configuration>
    <contextName>Tomcat</contextName>
    <jmxConfigurator contextName="Tomcat"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
